.guia-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  margin-top: 1em;
}

h2{
  text-align: center;
  margin-top: 2em;
  text-decoration: underline;
}
