<!-- Frameworks Component -->
<app-video-filter (filterChange)="onFilterChange($event)"></app-video-filter>
<div class="icons" *ngFor="let icon of icons">
  <a [href]="icon.url" target="_blank">
    <img [src]="icon.image" [alt]="icon.name">
    <!-- <img src="assets/icons/angular-icon.png" alt=""> -->
  </a>
</div>

<div *ngFor="let video of filteredVideos; let i = index" class="youtube-card-container">
  <app-youtube-card
  [videoId]="video.id"
  [videoUrl]="video.url"
  [title]="video.title"
  [topics]="video.topics"
  ></app-youtube-card>
</div>
