<nav>
  <ul>
    <li>
      <a href="/home" class="nav-link text-secondary">
        Home
      </a>
    </li>
    <li><a href="/frameworks">Frameworks</a></li>

    <!--LISTA DE CARTAS-->
    <!-- <li class="menu-decks">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        List Cards
      </a>
      <ul class="dropdown-menu decks">
        <li><a class="dropdown-item" href="/cripta">Crypt</a></li>
        <li><a class="dropdown-item" href="/biblioteca">Library</a></li>
      </ul>
    </li> -->

    </ul>
</nav>
